.ContainerTodoSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  gap: 10px;
}

.TodoSearch {
  height: 20px;
  outline: none;
  display: flex;
  border-radius: 2px;
  width: 90%;
  max-width: 400px;
  padding: 15px;
  font-family: 'Roboto Mono', sans-serif;
  background: #EFEFEF;
  font-weight: 400;
  color: #1E1E1F;
  border: 2px solid #202329;
  font-size: 14px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
}

.TodoSearch::placeholder {
  font-size: 14px;
  letter-spacing: 1px;
  font-family: 'Roboto Mono', sans-serif;
}

.TodoSearch:focus {
  background-color: #ebebeb;
}