  @import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

  .TodoCounter {
    letter-spacing: 2px;
    font-family: 'Suez One', serif;
    text-align: center;
    font-size: 25px;
    margin: 0;
    padding: 48px 0px;
    font-weight: medium;
  }

  .TodoCounter span {
    font-weight: bold;
  }